/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; /* optional for non-programmatic scroll */
}

.scroll-container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}




section {
  height: 110vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  outline: none;
}
